extends index

block content
  div
    if text
      div.alert.alert-success
        p #{text}
    if error
      div.alert.alert-warning
        p #{error}
  form(method='POST' action='')
    div.form-group
      label(for='login') Votre login:
      input#login.form-control(type='text' name='login' required='true')

    div.form-group
      label(for='password') Votre mot de passe:
      input#password.form-control(type='password' name='password' required='true')

    div.form-group
      label(for='administrator') Admin (1=oui , 0=non):
      input#administrator.form-control(type='number', name='administrator', min="0" max="1", value='0' required='true')
      br

    div.form-group
      label(for='nom') Votre nom:
      input#nom.form-control(type='text' name='nom' required='true')

    div.form-group
      label(for='prenom') Votre prenom:
      input#prenom.form-control(type='text' name='prenom' required='true')

    button.btn.btn-primary(type='submit') Valider votre compte

